# Convex Cloud Deployment
# Run npx convex dev --once to auto-populate these values
# Get your deployment URL from: https://dashboard.convex.dev

CONVEX_DEPLOYMENT=dev:myriah-vielle-silverio

EXPO_PUBLIC_CONVEX_URL=https://appdev2-final-exam.convex.cloud